<div style="background: white;">
    <app-user-details (onUserDetailsEntered)="onUserDetailsEntered($event)"/>
    <app-commorbities *ngIf="enableCommorbities" (onComorbitiesDetailsEntered)="onComorbitiesDetailsEntered($event)"/>
    <!-- *ngIf="enableCommorbities" /> -->

    <app-diagnosis *ngIf="enableDiagnosis"></app-diagnosis>
    <!-- *ngIf="enableDiagnosis" -->

    <app-prior-stunt-details></app-prior-stunt-details>

    <!-- <router-outlet></router-outlet> -->

    <!-- <app-intra-operative-findings></app-intra-operative-findings> -->
</div>