<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <!-- <div class="form-check" *ngFor="let option of laser_type; let i = index" >
    <input type="radio" class="form-check-input"  [value]="option" id="radio{{i}}" formControlName="laser_type">
    <label for="radio{{i}}" class="form-check-label">{{ option }}</label>
  </div> -->

  <!-- <div *ngFor="let city of settings_array; let i = index" formArrayName="settings_array">
      <input type="checkbox" [formControlName]="i">
      <span>{{city}}</span>
    </div> -->

    <radio controlName="laser_type" [options]="laser_type" (formResult)="formResult($event)"></radio>
    <div>
    <check-box controlName="settings_array" [options]="settings_array" (formResult)="formResult($event)"></check-box>
      
    </div>



  <button type="submit">Submit</button>
</form>
