<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <!-- <div class="form-check" *ngFor="let option of laser_type; let i = index" >
    <input type="radio" class="form-check-input"  [value]="option" id="radio{{i}}" formControlName="laser_type">
    <label for="radio{{i}}" class="form-check-label">{{ option }}</label>
  </div> -->

  <!-- <div *ngFor="let city of settings_array; let i = index" formArrayName="settings_array">
      <input type="checkbox" [formControlName]="i">
      <span>{{city}}</span>
    </div> -->

    <div class="form-group row">
      <label for="laser_type" class="col-sm-2 col-form-label">Types of Laser</label>
      <div class="col-sm-10">
        <radio controlName="laser_type" [options]="laser_type" (formResult)="formResult($event)"></radio>
      </div>
    </div>

    <div class="form-group row">
      <label for="sheath_size" class="col-sm-2 col-form-label">Access sheath size</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" minlength="10" maxlength="10" formControlName="sheath_size" placeholder="in mm">
      </div>
    </div>

    <div class="form-group row">
      <label for="ureter_group" class="col-sm-2 col-form-label">How is Ureter size?</label>
      <div class="col-sm-10">
        <radio controlName="ureter_group" [options]="ureter_group" (formResult)="formResult($event)"></radio>
      </div>
    </div>

    <div class="form-group row">
      <label for="spec_group" class="col-sm-2 col-form-label">Specification</label>
      <div class="col-sm-10">
        <radio controlName="spec_group" [options]="spec_group" (formResult)="formResult($event)"></radio>
      </div>
    </div>

    <div class="form-group row">
      <label for="infection_sign_group" class="col-sm-2 col-form-label">Signs of infection, if any?</label>
      <div class="col-sm-10">
        <radio controlName="infection_sign_group" [options]="yes_no_group" (formResult)="formResult($event)"></radio>
      </div>
    </div>

    <div class="form-group row">
      <label for="duration_of_lasing" class="col-sm-2 col-form-label">Duration of lasing</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="duration_of_lasing" placeholder="in minutes">
      </div>
    </div>


    <!-- <div class="form-group row">
      <label for="settings_array" class="col-sm-2 col-form-label">Laser settings</label>
      <div class="col-sm-10">
        <check-box controlName="settings_array" [options]="settings_array" (formResult)="formResult($event)"></check-box>
      </div>
    </div> -->


    <div class="form-group row">
      <label for="settings_array" class="col-sm-2 col-form-label">Laser settings</label>
      <div class="col-sm-10">
        <check-box controlName="settings_array" [options]="settings_array_group" (formResult)="formResult($event)"></check-box>
      </div>
    </div>


    <div class="form-group row">
      <label for="residual_stone_group" class="col-sm-2 col-form-label">Any residual stone on fluroscopy?</label>
      <div class="col-sm-10">
        <radio controlName="residual_stone_group" [options]="yes_no_group" (formResult)="formResult($event)"></radio>
      </div>
    </div>


        <!-- <div class="form-group row">
      <label for="settings_array" class="col-sm-2 col-form-label">Laser settings</label>
      <div class="col-sm-10">
        <check-box controlName="settings_array" [options]="settings_array" (formResult)="formResult($event)"></check-box>
      </div>
    </div> -->



    <!-- <div class="form-group row">
      <label for="spec_group" class="col-sm-2 col-form-label">Specification</label>
      <div class="col-sm-10">
        <radio controlName="spec_group" [options]="spec_group" (formResult)="formResult($event)"></radio>
      </div>
    </div> -->


    <br/>
    <br/>


    
    <!-- <div>
    <check-box controlName="settings_array" [options]="settings_array" (formResult)="formResult($event)"></check-box>
      
    </div> -->



  <!-- <button type="submit">Submit</button> -->
</form>
